head
	title Learn with Eldar

	// meta 
	meta(charset="utf-8")

	// favicon 
	link(rel="icon" type="image/png" href="favicon.png")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	// styles 
	link(href="css/styles.css", rel="stylesheet")