block vars

.header
	.header-top
		.wrap
			.headerLogo: a(href="index.html")
			.headerMenu
				ul
					li(class=menuVideosIsActive): a(href="videos.html") Videos
					li(class=menuAboutIsActive): a(href="about.html") About
					li(class=menuMissionIsActive): a(href="mission.html") Mission
					li(class=menuContactsIsActive): a(href="contacts.html") Contact
	if home
		.header-index
			.wrap
				.headerText
					.headerText-big knowledge <br>is for everyone
					.headerText-smal Maths and English
					.headerText-btn
						a(href="videos.html").btn-green Start watching
	else
		.header-inside
			.wrap
				.headerPagename The best for you