.videos.videos_blue
	.wrap
		h2.videos-title.videos-title_white popular videos
		include m-video-elem
		
		.videos-slider
			.slider-pro.js-slider-videos
				.sp-slides
					.sp-slide
						.videos-content
							+videosElem(
								'<iframe width="338" height="190" src="https://www.youtube.com/embed/nf6vsbI2ofo?rel=0" frameborder="0" allowfullscreen></iframe>',
								'CHAPTER 2 - Phrases and Word Types',
								'white'
							)
							+videosElem(
								'<iframe width="338" height="190" src="https://www.youtube.com/embed/lQxrZUcjEUg?rel=0" frameborder="0" allowfullscreen></iframe>',
								'Introduction to the Language',
								'white'
							)
							+videosElem(
								'<iframe width="338" height="190" src="https://www.youtube.com/embed/ZnwU8yCMd6I?rel=0" frameborder="0" allowfullscreen></iframe>',
								'CHAPTER 1 - The English Alphabet',
								'white'
							)
					.sp-slide
						.videos-content
							+videosElem(
								'<iframe width="338" height="190" src="https://www.youtube.com/embed/nf6vsbI2ofo?rel=0" frameborder="0" allowfullscreen></iframe>',
								'CHAPTER 2 - Phrases and Word Types',
								'white'
							)
							+videosElem(
								'<iframe width="338" height="190" src="https://www.youtube.com/embed/Dn1phPU8bwg?rel=0" frameborder="0" allowfullscreen></iframe>',
								'CHAPTER 3 - Numbers',
								'white'
							)
							+videosElem(
								'<iframe width="338" height="190" src="https://www.youtube.com/embed/tGonYcKwUBo?rel=0" frameborder="0" allowfullscreen></iframe>',
								'CHAPTER 4 - Animal Names',
								'white'
							)
					.sp-slide
						.videos-content
							+videosElem(
								'<iframe width="338" height="190" src="https://www.youtube.com/embed/BS5C3GmYO-Y?rel=0" frameborder="0" allowfullscreen></iframe>',
								'CHAPTER 5 - British Background',
								'white'
							)
							+videosElem(
								'<iframe width="338" height="190" src="https://www.youtube.com/embed/HJZg8BWKx-A?rel=0" frameborder="0" allowfullscreen></iframe>',
								'CHAPTER 6 - Pronunciation Practice',
								'white'
							)