block vars

doctype html
// Front-end by Ilkya Komichev
// ilko.me
html(lang="ru")
	include head

	body.page-body
		.ilkome.js-ilkome
			include l-header
			.l-content
				block content
			.l-footer © 2015 eldar All rights reserved

	include scripts