mixin videosElem(prev, name, white)
	if white 
		- var className = "videosElem-title_white"
	.videosElem
		.videosElem-prev !{prev}
		.videosElem-title(class=className)= name
		//-.videosElem-date
		//-.videosElem-text