// scripts 
script(src="js/libs/jquery.min.js")
script(src="js/libs/jquery.sliderPro.min.js")
script(src="js/libs/jquery.easytabs.min.js")

script(src="https://maps.googleapis.com/maps/api/js")
script(src="js/app.js")