reset-all()
borderbox-all()

html
	height 100%

.page-body
	height 100%
	background #fff

.ilkome
	table()
	position relative
	height 100%
	min-width 1190px

.wrap
	position relative
	width 1190px
	padding 0 10px
	margin 0 auto

.l-footer
	font-size 10px
	text-align center
	padding-bottom 20px