a
	anim()
	tdn()

.is-active
	a
		cursor default

.btn-green
	display inline-block
	padding 30px 70px
	color #fff
	font-size 14px
	font-weight bold
	text-transform uppercase
	background #29aa61
	
	&:hover
		opacity 0.8