// v3.1


// ===============================================
// #Color
// ===============================================


// ===============================================
// #Font
// ===============================================
fontinputs()
	color white
	font-family fontLato
	font-size 20px
	font-weight 400
	line-height 30px

fontform()
	color white
	font-family fontPlayfairDisplay
	font-size 19px
	font-weight 400
	line-height 30px
	text-transform uppercase


// ===============================================
// #List
// ===============================================
ul
	margin 0 0 30px 5px
	li
		margin 0 0 10px 15px
		list-style disc outside
		ul, ol
			margin 15px 0 10px 0
ol
	margin 0 0 15px 0
	li
		margin 0 0 15px 15px
		list-style decimal inside
		ul, ol
			margin 15px 0 10px 0
.no-list-style 
	margin 0
	li
		margin-left 0
		list-style-type none



// ===============================================
// #Text
// ===============================================
body
	color #000
	font-family fontOS
p
	margin-bottom 20px



// ===============================================
// #Table
// ===============================================
table
	width 100%
	td
		vertical-align top