block vars
	- var menuAboutIsActive = "is-active"

extends inc/layout

block append content
	.wrap
		.content
			.content-text
				h1 LEARN WITH ELDAR – The Story
				p ‘Learn with Eldar’ was founded in 2015, and is an Azeri educational video channel aimed at providing high quality educational videos to Children in Azerbaijan and abroad. Primarily, it focuses on elementary English and Mathematics, but is looking to branch out into other subjects including the sciences and the history of Azerbaijan.
				p The story of ‘Learn with Eldar’ began in 2012. Named after founder Eldar Hajiyev, an Azeri National studying in the UK, ‘Learn with Eldar’ is the result of a long-standing appreciation for the free and open-minded education that he received at Harrow School. 
				p Though Azerbaijan itself has high literacy rates and a strong public education system, the provision of quality English instruction remains sparse and often only available to those lucky enough to be in the best institutions. Given the fact that English is the key to many aspects of international development – including but not limited to pursuing further education abroad, research opportunities, trade and business etc. – Eldar was inspired to take advantage of his opportunities in the UK and work towards facilitating better primary education for children in Azerbaijan. 

				p Since beginning work on his broad educational project – which amongst other items includes writing and publishing his own book on governance and education – ‘Learn with Eldar’ is the culmination of many months of work with the cooperation of many different parties. Despite being incepted in 2015, it has already grown into an operation with a volunteer network all around the globe ranging from China to the United States.

				p Important recognition must be given to students of Oxford and Cambridge Universities, many of whom have kindly given their time to assisting the recording and production of the videos presented below. This not only helps to ensure quality control, but their involvement has also served to help raise awareness of Azerbaijan and Caspian issues around the UK.

				p There is no natural end-point for ‘Learn with Eldar’, and all of us at team LWE look forward to expanding into different subjects and reaching further into different countries to continue the core aim LWE, which is uncompromising quality and outreach. 

	include inc/l-videos-popular