block vars
	- var menuContactsIsActive = "is-active"

extends inc/layout

block append content
	.wrap
		.content
			h1.content-title Contacts
			.content-text
				.row
					.col-2
						.content-address
							p 5 Keykab Khanim Safaraliyeva Street, AZ1010, Baku, Azerbaijan
							p.contacts-phone Tel: +44 (0) 20 3740 6100
					.col-2
						.content-map(id="js-map")
	
	include inc/l-videos-popular