block vars
	- var home = "10"

extends inc/layout

block append content
	.videos
		.wrap
			h2.videos-title Videos
			.videos-content
				include inc/m-video-elem
				+videosElem(
					'<iframe width="338" height="190" src="https://www.youtube.com/embed/lQxrZUcjEUg?rel=0" frameborder="0" allowfullscreen></iframe>',
					'Introduction to the Language'
				)
				+videosElem(
					'<iframe width="338" height="190" src="https://www.youtube.com/embed/ZnwU8yCMd6I?rel=0" frameborder="0" allowfullscreen></iframe>',
					'CHAPTER 1 - The English Alphabet'
				)
				+videosElem(
					'<iframe width="338" height="190" src="https://www.youtube.com/embed/nf6vsbI2ofo?rel=0" frameborder="0" allowfullscreen></iframe>',
					'CHAPTER 2 - Phrases and Word Types'
				)
			.videos-all
				a(href="videos.html") All video

	.sliderText
		.sliderText-bg
			.wrap
				.sliderText-pic: img(src="img/slider.png", alt="")
				.sliderText-content
					.slider-pro.js-slider-text
						.sp-slides
							.sp-slide
								h2.slideElem-title.slideElem-title_blue About
								.slideElem-text Learn with Eldar’ was founded in 2015, and is an Azeri educational video channel aimed at providing high quality educational videos to Children in Azerbaijan and abroad. Primarily, it focuses on elementary English and Mathematics, but is looking to branch out into other subjects including the sciences and the history of Azerbaijan.
							.sp-slide
								h2.slideElem-title.slideElem-title_red Mission
								.slideElem-text The core aims of ‘Learn with Eldar’ are simple: the provision of the highest quality educational videos available targeted at young children to facilitate their development, and a commitment to global outreach.
							.sp-slide
								h2.slideElem-title.slideElem-title_green Contact
								.slideElem-text 5 Keykab Khanim Safaraliyeva Street, AZ1010, Baku, Azerbaijan.