block vars
	- var menuVideosIsActive = "is-active"

extends inc/layout

block append content
	.videos
		.wrap.js-tabs
			//-.videos-nav
				ul
					li: a(href="#tab-english") English
					//-li: a(href="#tab-math") Second tab

			.videos-tabs
				include inc/m-video-elem
				h1.content-title Videos
				.videos-content(id="tab-english")
					+videosElem(
						'<iframe width="338" height="190" src="https://www.youtube.com/embed/lQxrZUcjEUg?rel=0" frameborder="0" allowfullscreen></iframe>',
						'Introduction to the Language'
					)
					+videosElem(
						'<iframe width="338" height="190" src="https://www.youtube.com/embed/ZnwU8yCMd6I?rel=0" frameborder="0" allowfullscreen></iframe>',
						'CHAPTER 1 - The English Alphabet'
					)
					+videosElem(
						'<iframe width="338" height="190" src="https://www.youtube.com/embed/nf6vsbI2ofo?rel=0" frameborder="0" allowfullscreen></iframe>',
						'CHAPTER 2 - Phrases and Word Types'
					)
					+videosElem(
						'<iframe width="338" height="190" src="https://www.youtube.com/embed/Dn1phPU8bwg?rel=0" frameborder="0" allowfullscreen></iframe>',
						'CHAPTER 3 - Numbers'
					)
					+videosElem(
						'<iframe width="338" height="190" src="https://www.youtube.com/embed/tGonYcKwUBo?rel=0" frameborder="0" allowfullscreen></iframe>',
						'CHAPTER 4 - Animal Names'
					)
					+videosElem(
						'<iframe width="338" height="190" src="https://www.youtube.com/embed/BS5C3GmYO-Y?rel=0" frameborder="0" allowfullscreen></iframe>',
						'CHAPTER 5 - British Background'
					)
					+videosElem(
						'<iframe width="338" height="190" src="https://www.youtube.com/embed/HJZg8BWKx-A?rel=0" frameborder="0" allowfullscreen></iframe>',
						'CHAPTER 6 - Pronunciation Practice'
					)

				//- Second tab
				//-.videos-content(id="tab-math")
					+videosElem
					+videosElem
					+videosElem
					+videosElem("videosElem_hidden")
					+videosElem("videosElem_hidden")
					//-.videos-more
						.videos-more-in
							a(href="#").js-show-more
								| More videos
								span (58)