// ===============================================
//	#slider-pro
// ===============================================
.slider-pro
	position relative
	margin 0 auto
	box-sizing content-box

.sp-slides-container
	position relative

.sp-mask
	position relative
	overflow hidden

.sp-slides
	position relative
	-webkit-backface-visibility hidden
	-webkit-perspective 1000

.sp-slide
	position absolute

.sp-image-container
	overflow hidden

.sp-image
	position relative
	display block
	border none

.sp-no-js
	overflow hidden
	max-width 100%
	
.sp-arrows
	position absolute
	left 0px
	top 150px
	width 100%
	
.sp-buttons
	position relative
	text-align center

.sp-button
	display inline-block
	margin 0 7px
	width 6px
	height 6px
	border-radius 5px
	background #fff
	cursor pointer

.sp-selected-button
	background #cf152d
	cursor default