@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800,300italic,400italic|Montserrat:400,700");

.hide {
	display: none;
}

.clear:before,
.clear:after {
	content: "";
	display: table;
	clear: both;
}

.row {
	font-size: 0;
	display: block;
	margin: 0 -20px;
}

.row > * {
	position: relative;
	width: 100%;
	min-height: 1px;
	font-size: 1rem;
	vertical-align: top;
	display: inline-block;
}

.row > * {
	padding: 0 20px;
}

.row > .col-2 {
	width: 50%;
}

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.middle {
	vertical-align: middle;
}

.margin-no {
	margin: 0;
}

ul {
	margin: 0 0 30px 5px;
}

ul li {
	margin: 0 0 10px 15px;
	list-style: disc outside;
}

ul li ul,
ul li ol {
	margin: 15px 0 10px 0;
}

ol {
	margin: 0 0 15px 0;
}

ol li {
	margin: 0 0 15px 15px;
	list-style: decimal inside;
}

ol li ul,
ol li ol {
	margin: 15px 0 10px 0;
}

.no-list-style {
	margin: 0;
}

.no-list-style li {
	margin-left: 0;
	list-style-type: none;
}

body {
	color: #000;
	font-family: 'Open Sans', sans-serif;
}

p {
	margin-bottom: 20px;
}

table {
	width: 100%;
}

table td {
	vertical-align: top;
}

a {
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	text-decoration: none;
}

.is-active a {
	cursor: default;
}

.btn-green {
	display: inline-block;
	padding: 30px 70px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background: #29aa61;
}

.btn-green:hover {
	opacity: 0.8;
}

label,
input,
button,
select,
textarea {
	color: #fff;
	font-family: fontLato;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}

input {
	width: 100%;
	padding: 13px 20px;
	text-align: center;
	background: none;
	border-bottom: 2px solid rgba(255,255,255,0.3);
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

input:hover {
	border-color: rgba(255,255,255,0.5);
}

input:focus {
	border-color: #fff;
}

input[type="submit"] {
	color: #fff;
	font-family: fontPlayfairDisplay;
	font-size: 19px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	width: auto;
	padding: 15px 70px;
	letter-spacing: 3px;
	background: none;
	border: 2px solid rgba(255,255,255,0.3);
	cursor: pointer;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

input[type="submit"]:hover {
	border-color: rgba(255,255,255,0.5);
}

select {
	width: auto;
	margin-bottom: 10px;
	padding: 4px 10px;
	background: #fff;
	border: 1px solid #c8d9eb;
	color: #819397;
	font-size: 16px;
}

select option {
	padding: 5px 10px;
}

select.full {
	width: 100%;
}

textarea {
	width: 238px;
	max-width: 100%;
	height: 200px;
	margin-bottom: 10px;
	padding: 10px 10px;
	background: #fff;
	border: 1px solid #c8d9eb;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

textarea:hover,
textarea:focus {
	background: #f4f9ff;
}

textarea.full {
	width: 100%;
}

input[type="radio"] + label {
	cursor: pointer;
	margin: 0px 20px 0px 0;
}

input[type="radio"] + label::before {
	content: " ";
	display: inline-block;
	height: 18px;
	width: 18px;
	margin: 0 10px -3px 0px;
	background: url("../img/radio.png") no-repeat;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:disabled + label {
	cursor: default;
}

input[type="radio"] + label:hover::before {
	background-position: 0px 0px;
}

input[type="radio"]:checked + label::before {
	background-position: 0 -18px;
}

input[type="radio"]:disabled + label::before {
	background-position: 0px 0px;
	opacity: 0.8;
}

input[type="radio"]:checked:disabled + label::before {
	background-position: 0px -18px;
	opacity: 0.8;
}

input[type="checkbox"] {
	width: 21px;
	height: 21px;
	margin: 0 3px 0 0;
	vertical-align: top;
}

input[type="checkbox"] + label {
	cursor: pointer;
}

input[type="checkbox"]:not(checked) {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"]:not(checked) + label {
	position: relative;
	display: inline-block;
	padding: 0 0 0 35px;
	font-size: 14px;
}

input[type="checkbox"]:not(checked) + label:after {
	content: '';
	position: absolute;
	top: -3px;
	left: 0px;
	width: 21px;
	height: 21px;
	background: url("../img/checkbox-b.png") no-repeat;
}

input[type="checkbox"]:checked + label:after {
	background-position: 0 -21px;
}

input[type="checkbox"]:checked + label:before {
	position: relative;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

.page-body {
	height: 100%;
	background: #fff;
}

.ilkome {
	display: table;
	width: 100%;
	table-layout: fixed;
	position: relative;
	height: 100%;
	min-width: 1190px;
}

.wrap {
	position: relative;
	width: 1190px;
	padding: 0 10px;
	margin: 0 auto;
}

.l-footer {
	font-size: 10px;
	text-align: center;
	padding-bottom: 20px;
}

.header {
	padding-bottom: 55px;
}

.header-top {
	height: 64px;
}

.header-top:before,
.header-top:after {
	content: "";
	display: table;
	clear: both;
}

.header-index {
	height: 840px;
	background: #0c0c0c url("../img/bg-header.jpg") center center no-repeat;
	background-size: cover;
}

.header-inside {
	height: 140px;
	background: #0c0c0c url("../img/bg-header.jpg") center calc(50% + 100px) no-repeat;
	background-size: cover;
}

.headerLogo {
	float: left;
	padding-top: 15px;
}

.headerLogo a {
	display: block;
	width: 158px;
	height: 35px;
	background: url("../img/logo.png") no-repeat;
}

.headerMenu {
	float: right;
	padding-top: 15px;
}

.headerMenu ul {
	margin: 0;
	list-style: none;
}

.headerMenu ul li {
	margin: 0;
	list-style: none;
}

.headerMenu li {
	display: inline-block;
}

.headerMenu li.is-active a {
	margin: 0 10px;
	color: #1aa95c;
	font-weight: 700;
	border: 1px solid #1aa95c;
}

.headerMenu a {
	display: block;
	padding: 9px 20px;
	font-size: 13px;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	font-weight: 300;
}

.headerMenu a:hover {
	color: #1aa95c;
}

.headerText {
	padding-top: 295px;
	width: 600px;
	color: #fff;
}

.headerText-big {
	padding-bottom: 20px;
	font-size: 50px;
	line-height: 57px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 9px;
	text-transform: uppercase;
}

.headerText-smal {
	position: relative;
	padding-right: 70px;
	padding-bottom: 60px;
	font-size: 14px;
	font-style: italic;
	text-align: right;
}

.headerText-smal:after,
.headerText-smal:before {
	content: " ";
	position: absolute;
	top: 10px;
	height: 1px;
	background: #fff;
}

.headerText-smal:before {
	content: " ";
	left: 0px;
	width: 370px;
}

.headerText-smal:after {
	right: 10px;
	width: 30px;
}

.headerText-btn {
	text-align: right;
}

.headerPagename {
	position: relative;
	padding-top: 55px;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	letter-spacing: 5px;
}

.videos {
	overflow: hidden;
	padding-bottom: 60px;
}

.videos_blue {
	margin-bottom: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #1699c4;
}

.videos-title {
	margin-bottom: 45px;
	text-align: center;
	font-size: 60px;
	font-weight: 800;
	letter-spacing: 12px;
	text-transform: uppercase;
}

.videos-title_white {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #fff;
	letter-spacing: 8px;
}

.videos-title_white:hover {
	color: #fff;
}

.videos-nav ul {
	margin: 0;
	list-style: none;
	padding-bottom: 25px;
}

.videos-nav ul li {
	margin: 0;
	list-style: none;
}

.videos-nav li {
	display: inline-block;
}

.videos-nav a {
	display: block;
	padding: 10px 25px;
	color: #000;
}

.videos-nav a.is-active {
	color: #fff;
	background: #1aa95c;
}

.videos-content {
	font-size: 0;
	display: block;
	margin: 0 -30px;
}

.videos-content > * {
	position: relative;
	width: 100%;
	min-height: 1px;
	font-size: 1rem;
	vertical-align: top;
	display: inline-block;
}

.videos-content > * {
	padding: 0 30px;
}

.videos-all {
	padding-top: 40px;
	padding-bottom: 80px;
	text-align: center;
}

.videos-all a {
	display: inline-block;
	padding: 10px 40px;
	color: #262629;
	font-size: 12px;
	text-transform: uppercase;
	border: 1px solid #000;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

.videos-all a:hover {
	color: #29aa61;
	border-color: #29aa61;
}

.videos-more {
	margin-top: 30px;
	margin-bottom: 80px;
	background: #1699c4;
	height: 1px;
	text-align: center;
}

.videos-more-in {
	display: inline-block;
	margin-top: -30px;
	padding: 0 30px;
	background: #fff;
}

.videos-more a {
	display: inline-block;
	padding: 10px 60px;
	color: #262629;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #000;
}

.videos-more a:hover {
	color: #29aa61;
	border-color: #29aa61;
}

.videos-more span {
	display: block;
	font-weight: normal;
}

.videosElem {
	margin-bottom: 50px;
	padding-bottom: 30px;
	width: 33.333333333333336%;
}

.videosElem-prev {
	padding-bottom: 20px;
	height: 210px;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

.videosElem-prev:hover {
	opacity: 0.8;
}

.videosElem-title {
	padding-bottom: 15px;
	font-size: 14px;
	color: #000;
	font-weight: 600;
	letter-spacing: 0.7px;
	text-transform: uppercase;
}

.videosElem-title a {
	font-size: 14px;
	color: #000;
	font-weight: 600;
	letter-spacing: 0.7px;
	text-transform: uppercase;
}

.videosElem-title a:hover {
	color: #29aa61;
}

.videosElem-title_white {
	color: #fff;
}

.videosElem-title_white a {
	color: #fff;
}

.videosElem-title_white a:hover {
	color: rgba(255,255,255,0.8);
}

.videosElem-date {
	padding-bottom: 15px;
	font-size: 10px;
	font-style: italic;
}

.videosElem-text {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.sliderText {
	margin-bottom: 60px;
	padding-top: 40px;
	padding-bottom: 80px;
}

.sliderText-pic {
	position: absolute;
	left: 50%;
	margin-left: -448px;
	top: -40px;
	text-align: center;
}

.sliderText-bg {
	height: 360px;
	background: #f3f3f3;
}

.sliderText-content {
	position: absolute;
	left: 450px;
	top: 30px;
	width: 300px;
	color: #fff;
}

.slideElem-title {
	color: #fff;
	margin-bottom: 30px;
	font-size: 60px;
	font-weight: 800;
	text-transform: uppercase;
}

.slideElem-title_red {
	color: #cf152d;
}

.slideElem-title_green {
	color: #29aa61;
}

.slideElem-title_blue {
	color: #1699c4;
}

.slideElem-text {
	padding-bottom: 30px;
	font-size: 13px;
	line-height: 18px;
	font-weight: 300;
}

.slideElemSocial {
	margin: 0;
	list-style: none;
	margin-left: -7px;
}

.slideElemSocial li {
	margin: 0;
	list-style: none;
}

.slideElemSocial a {
	display: block;
	width: 25px;
	height: 25px;
}

.slideElemSocial li {
	display: inline-block;
}

.slideElemSocial-tw {
	background: url("../img/social-tw.png") center no-repeat;
}

.slideElemSocial-fb {
	background: url("../img/social-fb.png") center no-repeat;
}

.sp-arrow {
	position: absolute;
	top: 0px;
	width: 14px;
	height: 29px;
	background: url("../img/slider-nav-left.png") no-repeat;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	cursor: pointer;
}

.sp-arrow:hover {
	opacity: 0.7;
}

.sp-previous-arrow {
	left: -280px;
}

.sp-next-arrow {
	right: -280px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.content {
	padding-bottom: 100px;
}

.content-title {
	margin-bottom: 40px;
	color: #1699c4;
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 10px;
}

.content-text h1 {
	margin-bottom: 20px;
	color: #000;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
}

.content-text h2 {
	margin-bottom: 20px;
	color: #000;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

.content-text p {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 28px;
}

.content-text blockquote {
	margin-bottom: 40px;
	font-style: italic;
	font-weight: 300;
	line-height: 28px;
}

.content-map {
	height: 630px;
}

.contentText-leftPic {
	float: left;
	padding: 0 60px 60px 0;
}

.contacts-phone {
	color: #29aa61;
	font-weight: bold;
}

.slider-pro {
	position: relative;
	margin: 0 auto;
	box-sizing: content-box;
}

.sp-slides-container {
	position: relative;
}

.sp-mask {
	position: relative;
	overflow: hidden;
}

.sp-slides {
	position: relative;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.sp-slide {
	position: absolute;
}

.sp-image-container {
	overflow: hidden;
}

.sp-image {
	position: relative;
	display: block;
	border: none;
}

.sp-no-js {
	overflow: hidden;
	max-width: 100%;
}

.sp-arrows {
	position: absolute;
	left: 0px;
	top: 150px;
	width: 100%;
}

.sp-buttons {
	position: relative;
	text-align: center;
}

.sp-button {
	display: inline-block;
	margin: 0 7px;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	background: #fff;
	cursor: pointer;
}

.sp-selected-button {
	background: #cf152d;
	cursor: default;
}
