.content
	padding-bottom 100px
	
	&-title
		margin-bottom 40px
		color #1699c4
		font-size 48px
		text-transform uppercase
		font-weight 300
		letter-spacing 10px
		
	&-text
		h1
			margin-bottom 20px
			color #000
			font-size 22px
			font-weight 600
			text-transform uppercase
			
		h2
			margin-bottom 20px
			color #000
			font-size 18px
			font-weight 600
			text-transform uppercase
			
		p
			margin-bottom 30px
			font-size 14px
			line-height 28px
		
		blockquote
			margin-bottom 40px
			font-style italic
			font-weight 300
			line-height 28px
	
	&-map
		height 630px
		
.contentText
	&-leftPic
		float left
		padding 0 60px 60px 0
		
.contacts
	&-phone
		color #29aa61
		font-weight bold
		