.header
	padding-bottom 55px
	
	&-top
		height 64px
		clearfix()
	
	&-index
		height 840px
		background #0c0c0c url("../img/bg-header.jpg") center center no-repeat
		bgcover()
	
	&-inside
		height 140px
		background #0c0c0c url("../img/bg-header.jpg") center calc(50% + 100px) no-repeat
		bgcover()

.headerLogo
	float left
	padding-top 15px
	a
		display block
		width 158px
		height 35px
		background url("../img/logo.png") no-repeat

.headerMenu
	float right
	padding-top 15px
	ul
		lino()
	li
		display inline-block
		&.is-active
			a
				margin 0 10px
				color #1aa95c
				font-weight 700
				border 1px solid #1aa95c
	a
		display block
		padding 9px 20px
		font-size 13px
		font-size 13px
		text-transform uppercase
		tdn()
		color #000
		font-weight 300
		&:hover
			color #1aa95c

.headerText
	padding-top 295px
	width 600px
	color #fff
	
	&-big
		padding-bottom 20px
		font-size 50px
		line-height 57px
		font-family fontMon
		letter-spacing 9px
		text-transform uppercase
		
	&-smal
		position relative
		padding-right 70px
		padding-bottom 60px
		font-size 14px
		font-style italic
		text-align right

		&:after, &:before
			content " "
			position absolute
			top 10px
			height 1px
			background #fff
		
		&:before
			content " "
			left 0px
			width 370px
			
		&:after
			right 10px
			width 30px
	
	&-btn
		text-align right
		
.headerPagename
	position relative
	padding-top 55px
	font-size 30px
	color #fff
	text-transform uppercase
	font-family fontMon
	font-weight 400
	letter-spacing 5px