.sliderText
	margin-bottom 60px
	padding-top 40px
	padding-bottom 80px
	
	&-pic
		position absolute
		left 50%
		margin-left -448px
		top -40px
		text-align center
	
	&-bg
		height 360px
		background #f3f3f3
		
	&-content
		position absolute
		left 450px
		top 30px
		width 300px
		color #fff
		
.slideElem
	&-title
		color #fff
		margin-bottom 30px
		font-size 60px
		font-weight 800
		text-transform uppercase
		&_red
			color #cf152d
		&_green
			color #29aa61
		&_blue
			color #1699c4
	
	&-text
		padding-bottom 30px
		font-size 13px
		line-height 18px
		font-weight 300

.slideElemSocial
	lino()
	margin-left -7px
	
	a
		display block
		width 25px
		height 25px
		
	li
		display inline-block
		
	&-tw
		background url("../img/social-tw.png") center no-repeat
		
	&-fb
		background url("../img/social-fb.png") center no-repeat

.sp-arrow
	position absolute
	top 0px
	width 14px
	height 29px
	background url("../img/slider-nav-left.png") no-repeat
	anim()
	cursor pointer
	&:hover
		opacity 0.7
	
.sp-previous-arrow
	left -280px

.sp-next-arrow
	right -280px
	transform rotate(180deg)