.videos
	overflow hidden
	padding-bottom 60px
	
	&_blue
		margin-bottom 20px
		padding-top 50px
		padding-bottom 50px
		background #1699c4
	
	&-title
		margin-bottom 45px
		text-align center
		font-size 60px
		font-weight 800
		letter-spacing 12px
		text-transform uppercase
		
		&_white
			font-family fontOS
			font-weight 300
			color #fff
			letter-spacing 8px
			&:hover
				color #fff
	
	&-nav
		ul
			lino()
			padding-bottom 25px
		li
			display inline-block
		a
			display block
			padding 10px 25px
			color #000
			&.is-active
				color #fff
				background #1aa95c

	&-content
		wrap()
		gutter(30px)
	
	&-all
		padding-top 40px
		padding-bottom 80px
		text-align center
		
		a
			display inline-block
			padding 10px 40px
			color #262629
			font-size 12px
			text-transform uppercase
			border 1px solid #000
			anim()
			
			&:hover
				color #29aa61
				border-color #29aa61
	&-more
		margin-top 30px
		margin-bottom 80px
		background #1699c4
		height 1px
		text-align center
		
		&-in
			display inline-block
			margin-top -30px
			padding 0 30px
			background #fff
		a
			display inline-block
			padding 10px 60px
			color #262629
			font-size 12px
			font-weight bold
			text-transform uppercase
			border 1px solid #000
			&:hover
				color #29aa61
				border-color #29aa61
		
		span
			display block
			font-weight normal

.videosElem
	margin-bottom 50px
	padding-bottom 30px
	col(3,1)

	&-prev
		padding-bottom 20px
		height 210px
		anim()
		&:hover
			opacity 0.8
	
	&-title
		padding-bottom 15px
		font-size 14px
		color #000
		font-weight 600
		letter-spacing 0.7px
		text-transform uppercase
		a
			font-size 14px
			color #000
			font-weight 600
			letter-spacing 0.7px
			text-transform uppercase
			&:hover
				color #29aa61
		
		&_white
			color #fff
			a
				color #fff
				&:hover
					color alpha(#fff, .8)
	
	&-date
		padding-bottom 15px
		font-size 10px
		font-style italic
	
	&-text
		font-size 12px
		line-height 18px
		font-weight 400